/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.instructor-bio-card-column {
    padding-bottom: 1rem;
}

.instructor-bio-card {
    width: 18rem;
    max-height: 35rem;
}

.instructor-bio-image {
    max-height: 300px;
}

.success-box {
    margin:50px 0;
    padding:10px 10px;
    border:1px solid #eee;
    background:#f9f9f9;
}

.success-box > div {
    vertical-align:top;
    display:inline-block;
    color:#888;
}


/* Rating Star Widgets Style */
.rating-stars ul {
    margin-top: 1rem;
    list-style-type:none;
    padding:0;
  
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

.page-title-text {
    padding-bottom: 50px;
    font-size: 50pt;
}

main {
    margin: 20px;
}

#gallery-note {
    font-size: smaller
}

.blueimp-gallery {
    margin: 25px;
    max-width: 150px;
    padding-bottom: 150px;
}

.dropzone {
    border: 3px dashed #00a1f1;
    background: #F0F8FF;
    margin: 25px;
    border-radius: 5px;
    max-width: 400px;
}

.dropzone .dz-message {
    font-weight: 350;
}

.dropzone .dz-message .note {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
    display: block;
    margin-top: 1.5rem;
}